* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fefefe;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fefefe;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fefefe;
}
.points {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 3vh;
  top: 30vh;
  z-index: 3;
}
.points a {
  width: 3.6vw;
  height: 7.5vh;
  margin: 0.7vh;
}
iframe {
  animation: 5s smooth-border infinite;
  animation-direction: alternate;
}
.point {
  width: 100%;
  height: 100%;
  border-radius: 13.5vh;
  background: #009775;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
header svg {
  position: absolute;
  left: 0;
  bottom: 0;
}
.point svg {
  width: 2.1vw;
  height: 4.5vh;
}

.social-media:hover {
  fill: #100c08;
}
.social-media {
  width: 9vw;
  min-width: 25px;
  height: 9vh;
  min-height: 25px;
  margin: 0px 2.7vh;
  fill: #fefefe;
  transition: 0.5s;
}
.point:hover {
  background: #fefefebb;
}
body {
  width: 100%;
  min-height: 100%;
  background: #100c08;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}
br {
  line-height: 48px;
}
a .page-link,
h1,
h4,
h3 {
  font-family: "Pacifico", cursive;
}
header {
  width: 100%;
  padding-top: 1.2vh;
  height: 100vh;
  font-family: "Pacifico", cursive;
  background: url(./img/home/land.jpg) center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.parallax {
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
}
.mountain {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
}
.cloud {
  position: absolute;
  height: 15%;
  z-index: 0;
}
.c-one {
  left: 20%;
  top: 10%;
}
.c-two {
  right: 10%;
  top: 5%;
}
.c-three {
  left: 60%;
  top: 22%;
}
.clip {
  position: absolute;
  z-index: 0;
  filter: drop-shadow(9px 10px 4px #100c08);
}
.s-one {
  left: 10%;
  bottom: -40%;
  height: 35%;
}
.s-two {
  right: 10%;
  bottom: -40%;
  height: 35%;
}
.desk {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
footer {
  width: 100%;
  height: 20vh;
  max-height: 500px;
  padding: 4.8vh;
  background: #009775;
  box-shadow: 0 20px 30px 15px rgba(0, 151, 117, 0.5),
    0 40px 40px 20px rgba(0, 151, 117, 0.4),
    0 70px 50px 30px rgba(0, 151, 117, 0.3),
    0 40px 60px 5px rgba(0, 151, 117, 0.3);
}
footer ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.mask {
  background: #100c08;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
nav {
  width: 90%;
  height: 10vh;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border-top: 2px solid #fefefe; */
  border-bottom: 0.3vh solid #fefefe;
  z-index: 1;
}
.link {
  color: #fefefe;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  font-size: 2.4vh;
  font-weight: 500;
}
.link:hover {
  text-decoration: underline;
  color: #009775;
}
.link:focus {
  color: #009775;
}
.logo-container {
  height: 10vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.2vh;
}
.logo-container img {
  height: 50%;
}

.links-container {
  height: 10vh;
  flex: 5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.links-tab {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.page-link {
  text-decoration: none;
  color: #fefefe;
  font-size: 2.4vh;
  font-weight: 500;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.page-link:hover {
  color: #009775;
}
.quote-and-pic-container {
  width: 100%;
  height: 90vh;
  display: flex;
}
.quote-container {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 12vmin;
  z-index: 2;
}
.quote-container h1,
.quote-container p {
  background: #100c08;
  color: #fefefe;
  position: absolute;
}

.quote-container h1 {
  font-size: 4.8vh;
  padding: 2.4vh;
  font-weight: 600;
  animation-name: come-from-left;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.quote-container p {
  margin-top: 9vmax;
  padding: 0.7vh;
  font-size: 2.7vh;
  animation-name: come-from-right;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}
.my-pic-container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: come-from-right 2s ease-out;
  z-index: 2;
}
.my-pic-container img {
  height: 25vmax;
  border-radius: 50%;
  box-shadow: 0 20px 30px -15px rgba(194, 204, 204, 0.5),
    0 40px 40px -20px rgba(12, 46, 108, 0.6),
    0 70px 50px -30px rgba(194, 204, 204, 0.3),
    0 40px 60px -5px rgba(194, 204, 204, 0.3);
}
.about-me-sect {
  display: flex;
  flex-direction: column;
  padding: 2.4vh 2.7vh 2.7vh 2.7vh;
  min-height: 100vh;
  height: fit-content;
  color: #fefefe;
  z-index: 2;
}

.about-me-sect iframe {
  margin: 4.8vh;
  height: 37.5vmin;
  width: 40.9vmax;
}
.about-text {
  padding: 1.2vh;
}
.about-me-content h1 {
  font-size: 4.8vh;
  font-weight: 800;
  color: #009775;
}
.about-me-content h3 {
  font-size: 2.8vh;
  font-weight: 700;
  color: #009775;
}
.about-me-content h4 {
  font-size: 3vh;
  font-weight: 500;
  color: #009775;
}
.about-me-content p {
  font-size: 2.4vh;
  font-weight: 500;
}
.about-me-sect ul {
  padding: 2.4vh 2.7vh 2.7vh 7.2vh;
}
.home-bg-div {
  height: 100vh;
  background: url(./img/home/wall2.jpg) center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.quote {
  margin-left: 10vmin;
  z-index: 2;
  background: #100c08;
  color: #fefefe;
  font-size: 4.8vh;
  padding: 2vh;
  font-weight: 600;
  animation-name: come-from-left;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  position: absolute;
  top: 50%;
}

.work-show-up {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4.8vh;
}
.work-title {
  font-size: 2.4vh;
  width: 80%;
  border-radius: 180px;
  text-align: center;
  color: #009775;
  border-bottom: 0.3vh solid #009775;
  margin: 2.7vh 1.5vh 4.8vh 2.7vh;
}
.work-container {
  height: fit-content;
  display: flex;
  align-items: center;
}
.work-card-link {
  text-decoration: none;
}
.work {
  margin: 0px 1.2vh;
  height: fit-content;
  width: 25vw;
  transition: 0.3s ease-in-out;
}
.work:hover {
  cursor: pointer;
  background: #009775;
  box-shadow: 0 20px 30px -15px rgba(0, 151, 116, 0.5),
    0 40px 40px -20px rgba(0, 151, 116, 0.4),
    0 70px 50px -30px rgba(0, 151, 116, 0.3),
    0 5px 60px -5px rgba(0, 151, 116, 0.5);
}
.thumbanil-container {
  height: 35vh;
  width: 100%;
}
.first-project {
  background: url(./img/home/pizza.jpg);
  background-size: cover;
}
.second-project {
  background: url(./img/home/login.jpg);
  background-size: cover;
}
.third-project {
  background: url(./img/home/Android.png);
  background-size: cover;
}
/* ? splitter: splits betweeen the image ad the info
.splitter {
  height: 0px;
} */
/*? work show up info-container */
.info-container {
  height: 20vh;
  padding: 4.8vh;
  color: #fefefe;
  background: #009775;
}
/* .first {
  background: #0072ce;
}
.second {
  background: #44714e;
}
.third {
  background: #da291c;
} */
.info-container h1 {
  font-size: 4vh;
  width: 80%;
  margin: auto;
  text-align: center;
}
.work-link {
  text-decoration: none;
  border-bottom: 0.3vh solid #fefefe;
  color: #fefefe;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  font-size: 2.4vh;
  font-weight: 500;
}
.work-link:hover {
  color: #100c08;
  border-bottom: 0.3vh solid #100c08;
}
.home-bg-div2 {
  height: 100vh;
  background: url(./img/home/bg-5.jpg) center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.other-interests {
  min-height: 100vh;
  padding-bottom: 4.8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.other-interests p {
  font-size: 2.4vh;
  text-align: left;
  color: #fefefe;
  margin: 0px 2.7vh 4.8vh 2.7vh;
}
.vids {
  display: flex;
  justify-content: space-around;
}
.vids iframe {
  width: 40.9vmax;
  height: 47.5vmin;
  margin: 0px 4.8vh;
  position: relative;
}

.other-interests h1 {
  width: 80%;
  font-size: 3.6vh;
  margin: 2.7vh 1.5vh 4.8vh 2.7vh;
  text-align: center;
  color: #009775;
  border-bottom: 0.3vh solid #009775;
  border-radius: 180px;
}

.ge-bg-div {
  height: 100vh;
  background: url(./img/home/ge/ge-div-bg.jpg) center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.ge-bg-div .my-pic-container img {
  filter: drop-shadow(9px 10px 4px #876156ad);
  box-shadow: none;
}
.ge-sect {
  height: fit-content;
  width: 100%;
  min-height: 100vh;
  padding: 4.8vh 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ge-link {
  color: #009775;
  font-size: 2.4vh;
  font-weight: 500;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.ge-link:hover {
  color: #55a38e;
}
.ge-info {
  margin: 0px 4.8vh 4.8vh 4.8vh;
}

.ge-info p {
  font-size: 2.7vh;
  font-weight: 400;
  color: #fefefe;
  margin: 2.7vh 2.7vh 4.8vh 0px;
}
@keyframes smooth-border {
  0% {
    border: 0.7vh solid #100c08;
  }
  100% {
    border: 0.7vh solid #009775;
  }
}
.slideshow {
  width: 75%;
  height: 75%;
  overflow: hidden;
  animation: 5s smooth-border infinite;
  animation-direction: alternate;
  position: relative;
}
.navigation {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.bar {
  width: 3.6vw;
  min-width: 32px;
  height: 3.7vh;
  min-height: 24px;
  border: 0.3vh solid #009775;
  border-radius: 2px;
  margin: 1.5vw;
  transition: 0.4s;
  cursor: pointer;
}
.bar:hover {
  background: #009775;
}
input[name="r"] {
  position: absolute;
  visibility: hidden;
}
.slides {
  width: 1000%;
  height: 100%;
  display: flex;
}
.slide {
  width: 10%;
  opacity: 1;
  transition: 2s;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -10%;
}
#r3:checked ~ .s1 {
  margin-left: -20%;
}
#r4:checked ~ .s1 {
  margin-left: -30%;
}
#r5:checked ~ .s1 {
  margin-left: -40%;
}
#r6:checked ~ .s1 {
  margin-left: -50%;
}
#r7:checked ~ .s1 {
  margin-left: -60%;
}
#r8:checked ~ .s1 {
  margin-left: -70%;
}
#r9:checked ~ .s1 {
  margin-left: -80%;
}
#r10:checked ~ .s1 {
  margin-left: -90%;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
.city-bg-div {
  height: 100vh;
  background: url(./img/home/salamiyah.jpg) center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.contact-me-sect {
  padding-top: 7.2vh;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me-sect h1 {
  width: 80%;
  font-size: 3.6vh;
  border-radius: 180px;
  text-align: center;
  color: #009775;
  border-bottom: 0.3vh solid #009775;
}

form {
  width: 60%;
  max-width: 650px;
  margin: 7.5vh auto;
  background: #009775;
  padding: 4.8vh;
  border-radius: 19px;
  box-shadow: 0 20px 30px -15px rgba(0, 151, 117, 0.5),
    0 40px 40px -20px rgba(0, 151, 117, 0.4),
    0 70px 50px -30px rgba(0, 151, 117, 0.3),
    0 40px 60px -5px rgba(0, 151, 117, 0.3);
}

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 2.7vh;
  border-radius: 5px;
  line-height: 3.3vh;
  background-color: transparent;
  border: 0.3vh solid #fefefe;
  transition: all 0.3s;
  padding: 1.9vh;
  margin-bottom: 2.2vh;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 0.3vh solid #55a38e;
}

textarea {
  height: 23.9vh;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background: #009775;
  border-radius: 5px;
  border: 0.3vh solid #fefefe;
  cursor: pointer;
  color: white;
  font-size: 2.7vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  transition: all 0.3s;
  font-weight: 400;
}
[type="submit"]:hover {
  background: #fefefe;
  color: #009775;
}
.contact-me-sect p {
  font-size: 2vh;
  font-weight: 500;
  padding: 1vh;
  color: #fefefe;
}
.contact-me-sect p span {
  text-decoration: underline;
  color: #55a38e;
  font-size: 3vh;
  font-weight: 500;
  padding: 1vh;
}
#label-btn {
  position: relative;
}
#swap-btn-txt {
  display: none;
}
#swap-btn-txt:checked + #label-btn:after {
  content: "Submitted";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}
/* ! animations section */
@keyframes come-from-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes come-from-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.overlayer {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #100c08;
  transition: opacity 1s ease;
  border: 0px solid #100c08;
  animation: 5s smooth-border infinite;
}
.loader-text {
  position: absolute;
  bottom: 37.5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  color: #fefefe;
  font-family: "Pacifico", cursive;
  font-size: 2.7vh;
}
.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  z-index: 5;
  border: 4px solid #009775;
  animation: loader 2s infinite ease;
  transform-origin: center;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #009775;
  animation: loader-inner 2s infinite ease-in;
}
.preload-finish {
  opacity: 0;
  pointer-events: none;
}
.scroll-finish {
  overflow: visible;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
@media screen and (max-width: 1024px) {
  .quote-container h1 {
    font-size: 2.9vw;
  }
  .quote-container p {
    font-size: 1.6vw;
  }
  .work {
    margin-bottom: 2.7vh;
    width: 40vw;
  }
  .work-container {
    flex-direction: column;
  }
  .s-one {
    height: 35%;
  }
  .s-two {
    height: 35%;
  }
}
@media screen and (max-width: 900px) {
  .bar {
    margin: 1vw;
  }
  .vids {
    flex-direction: column;
  }
  .vids iframe {
    margin-bottom: 4.8vh;
    width: 60vmax;
    height: 50vmin;
  }
  .points {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .quote-and-pic-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .my-pic-container {
    flex-direction: row;
    padding-top: 12vw;
  }
  .my-pic-container img {
    height: 40vh;
  }
  .quote-container {
    justify-content: center;
    padding-bottom: 12vw;
    padding-left: 0px;
  }
  .quote-container h1 {
    font-size: 4vh;
  }
  .quote-container p {
    font-size: 2.3vh;
    margin-top: 20vh;
  }
  .work {
    margin-bottom: 2.7vh;
    width: 60vw;
  }
  .quote {
    justify-content: center;
    padding: 2vw;
    font-size: 8.4vw;
  }
  .s-one {
    height: 30%;
  }
  .s-two {
    height: 30%;
  }
}

@media screen and (max-width: 600px) {
  .slideshow {
    width: 100%;
    height: 100%;
  }
  form {
    width: 75%;
    max-width: 750px;
  }
}
@media screen and (max-width: 450px) {
  .bar {
    margin: 1vw;
    min-width: 22px;
    width: 3.6vw;
    height: 3.7vw;
    min-height: 16px;
  }
  .vids iframe {
    width: 90%;
    height: 50vmin;
    margin: 3.6vh auto;
  }
  .c-three {
    right: 50%;
    left: 0;
  }
  .s-one {
    height: 25%;
  }
  .s-two {
    height: 25%;
  }
}
